/lib
node_modules/
.npm
/public/bundle.js

*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
